.flat-card {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  transition: transform 0.2s;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.flat-card:hover {
  transform: scale(1.05);
}

.flat-card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.flat-card-content {
  padding: 15px;
}

.flat-card-title h4 {
  margin: 0;
}

.flat-card-actions {
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.flat-show-card {
  margin-bottom: 20px;
}

.flat-show-card h1,
.flat-show-card h3,
.flat-show-card h5 {
  margin-bottom: 10px;
}
